<div class="main">
    <div class="page">
        <div class="name">ADITYA JAISWAL</div>
        <div class="contact">
            <div><a href="mailto:{{ contact.email }}" target="_blank">{{ contact.email }}</a></div>
            <div><a href="tel:{{ contact.phone }}" target="_blank">{{ contact.phone }}</a></div>
            <div><a href="{{ contact.github }}" target="_blank">{{ contact.github }}</a></div>
            <div><a href="{{ contact.linkedin }}" target="_blank">{{ contact.linkedin }}</a></div>
        </div>
        <div class="section">
            <div class="heading" (click)="scrollTo('education')">Education</div>
            <div class="details" *ngFor="let education of educations">
                <div class="head">
                    <div>{{ education.school }}</div>
                    <div>{{ education.year }}</div>
                </div>
                <div class="foot">
                    <span>●</span>
                    <div class="sub-foot">
                        <div>{{ education.class }}</div>
                        <div>{{ education.marks }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="heading">Certification</div>
            <div class="details" *ngFor="let certificate of certificates">
                <div class="head">
                    <div>{{ certificate.name }}</div>
                    <div>{{ certificate.year }}</div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="heading">Skills</div>
            <div class="skills">
                <p class="skill" *ngFor="let skill of skills">{{ skill }}</p>
            </div>
        </div>
        <div class="section">
            <div class="heading" (click)="scrollTo('projects')">Projects</div>
            <div class="details gap-3" *ngFor="let project of projects">
                <div class="head">
                    <div>{{ project.name }}</div>
                    <div>{{ project.year }}</div>
                </div>
                <div>
                    <div class="secondary">
                        <span>●</span>
                        <div class="objective-container">
                            <strong>Objective:</strong> {{ project.objective }}
                        </div>
                    </div>
                    <div class="secondary">
                        <span>●</span>
                        <div class="objective-container">
                            <strong>Responsibilities:</strong> {{ project.responsibilities }}
                        </div>
                    </div>
                    <div class="secondary">
                        <span>●</span>
                        <div class="objective-container">
                            <strong>Tech Stack:</strong> {{ project.techStack }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="heading">Work Experiences</div>
            <div class="details gap-3" *ngFor="let experience of experiences">
                <div class="head">
                    <div>{{ experience.role }}</div>
                    <div>{{ experience.year }}</div>
                </div>
                <div>
                    <div class="secondary">
                        <span>●</span>
                        <div class="objective-container">
                            <strong>Company:</strong> {{ experience.company }}
                        </div>
                    </div>
                    <div class="secondary">
                        <span>●</span>
                        <div class="objective-container">
                            <strong>Responsibilities:</strong> {{ experience.responsibilities }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>