.home{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.about-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(min(1060px, 100vw) - (calc(min(100vw, 1440px) / 48)));
    margin: auto;
    gap: 60px;
    margin-top: 80px;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}
.profile{
    width: 154px;
    height: 154px;
    object-fit: cover;
    border-radius: 100%;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.title{
    font-size: 40px;
    font-weight: 600;
    background: linear-gradient(2422deg, rgb(88, 212, 221) 0%, rgb(107, 71, 227) 32.0735%, rgb(9, 188, 138) 84.5703%);
    -webkit-background-clip: text;
    -moz-background-clip: text; /* For Firefox, but doesn't work the same */
    color: transparent;
}
.desc{
    font-size: 22px;
    font-weight: 400;
}
.footer{
    display: flex;
}
.link{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.4s ease transform;
}
.link:hover{
    transform: scale(1.2) rotate(-5deg);
    font-weight: 700;
}
.link:active {
    transform: scale(1);
}
.icon{
    width: 26px;
    height: 26px;
}