<div class="main">
    <div class="header">
        <img class="profile" src="assets/profile.webp" alt="">
        <div class="middle">
            <div class="title">Hi, I'm Aditya :)</div>
            <div class="desc">A Software Developer with 2+ YOE in building products across Fintech, Social Media,
                Healthcare, AI and Aviation. Expert in design systems and accessibility-focused design.</div>
        </div>
    </div>
    <div class="footer">
        <div class="link">
            <img class="icon" src="assets/linkedin.svg" alt="">
            <span>Linkedin</span>
        </div>
        <div class="link">
            <img class="icon" src="assets/resume.svg" alt="">
            <span>Resume</span>
        </div>
        <div class="link">
            <img class="icon" src="assets/github.svg" alt="">
            <span>Github</span>
        </div>
        <div class="link">
            <img class="icon" src="assets/instagram.svg" alt="">
            <span>Instagram</span>
        </div>
    </div>
</div>