<div class="home" id="home">
    <div class="about-section">
        <div class="header">
            <img class="profile" src="assets/profile.png" alt="">
            <div class="middle">
                <div class="title">Hi, I'm Aditya :)</div>
                <div class="desc">As a Software Development Engineer at Hinshitsu Manufacturing Pvt Ltd (Customfurnish), I have honed my skills in front-end and back-end technologies, including Angular, AngularJS, Three.js, React.js, Java Spring Boot, Node.js, GitHub, and Jenkins. My journey in the tech industry has allowed me to work on complex projects, contribute to innovative solutions, and continuously evolve as a developer.</div>
            </div>
        </div>
        <div class="footer">
            <div class="link" (click)="openNewTab('https://www.linkedin.com/in/adityajaiswal37/')">
                <img class="icon" src="assets/linkedin.svg" alt="LinkedIn">
                <span>LinkedIn</span>
            </div>
            <div class="link" (click)="openNewTab('https://drive.google.com/file/d/1PLPcF6AValYWC2meYOAqA02qWWZnqiSK/view?usp=drive_link')">
                <img class="icon" src="assets/resume.svg" alt="Resume">
                <span>Resume</span>
            </div>
            <div class="link" (click)="openNewTab('https://github.com/adityajaiswal37')">
                <img class="icon" src="assets/github.svg" alt="GitHub">
                <span>GitHub</span>
            </div>
            <div class="link" (click)="openNewTab('https://www.instagram.com/__aadiiiii.___/')">
                <img class="icon" src="assets/instagram.svg" alt="Instagram">
                <span>Instagram</span>
            </div>
        </div>
    </div>
    <app-projects id="projects"></app-projects>
    <app-education id="education"></app-education>
    <app-resume id="resume"></app-resume>
</div>